body {
    background-color: black;
}

.container {
  color: white;
  font-family: Arial;
  font-size: 20px;

  width: 960px;
  margin: auto;

  text-align: center;
}

a {
    color: limegreen;
    font-weight: bold;
}

#slider-container {
    position: relative;
    width: 527px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
}

#slider {
    position: absolute;
    background-image: url("/slider.png");
    width: 527px;
    height: 88px;

    top: 0px;
    left: 0px;
}

#slider-ball {
    position: absolute;
    background-image: url("/ball.png");
    width: 20px;
    height: 20px;

    top: 10px;
    /* left defined in JS */
}

#share-block {
    margin-top: 50px;
}


#gameContent input, button {
  color: black;
  font-family: Arial;
  font-size: 20px;
}

#wrap {
    margin-top: 50px;  
    margin-bottom: 100px;  
    margin-right: 120px;  
    margin-left: 120px;  
}

.id {
    text-align: right;
    font-size: small;
}

.title {
    color: lawngreen;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

h2{
    font-size: 1.0em;
    color:lawngreen;
}

h3{
    color: lawngreen;
    text-align: center;
    font-size: 1.5em;
}

h4{
    color: lawngreen;
    text-align: center;
    font-size: 1em;
   
}

h5{
    font-style: italic;
    text-align: center;
    color: orange;
}

.InputField{
    width: 100px;
    border: 2px solid lawngreen;

    background-color: white;

    padding-left:  10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.InputField:hover {
    border: 2px dotted orange;
}

input, select, InputField {
    color: red;
}

.RedButton{
    background-color: #B22222;
    border: 1px solid orange;
    color:white;
}

.RedButton:hover{
    border: 1px dotted orange; 
}

.addShapeButton {
    background-color: brown;
    border: 1px solid orange;
    width: 150px;
    color: white;
    font-size: 0.7em;
}

.addShapeButton:hover{
    border: 1px dotted orange; 
}

.addShapeButton:disabled{
    background-color: darkgrey; 
    border: 1px solid white;
}

#addShape{
    float: right;
    margin-top: 168px;
    margin-right: 10px;
    
}

.infos{
    float: none;
    text-align: center;
    margin-top: 460px;
    font-size: 0.8em;
}

#wrapDone{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}

#done{
   text-align: right;
   margin-right: 10px;
}

.doneButton{
    background-color: brown;
    border: 1px solid orange;
    color:white;
    font-size: 0.7em;
    margin-top: -5px;
    width: 150px;
}

.doneButton:hover{
    border: 1px dotted orange; 
}

.doneButton:disabled{
    background-color: darkgrey; 
    border: 1px solid white;
}

#please{
    padding-left: 28px;
    margin-top: -5px;
}

#done2{
    position: absolute;
    top: 420px;
    width: 100%;
    text-align: center;
}

#previous-page-button {
    position: absolute;
    top: 475px;
    left: 10px;
}

#next-page-button {
    position: absolute;
    top: 475px;
    right: 10px;
}
    
#done2Button{
    margin-top: -20px;
}

#thanks-wrap-top {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    font-size: 18px;
}

#thanks-wrap-bottom {
    position: absolute;
    top: 360px;
    
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
    font-size: 18px;
}

.highlight {
    color: lawngreen;
}

#tutorialWrap {
    text-align: center;
    margin-top: 50px;
}

#tutorialWrap .addShapeButton {
    position: absolute;
    top: 170px;
    right: 10px;
}